body {
    font-family: monospace;
    background-color: #222;
    margin: 1.7em;
    max-width: 1000px;
    line-height: 1.5;
    font-size: 16px;
    color: #ddd;
    padding: 0 5px;
}

h1,
h2,
h3 {
    line-height: 1.2;
    color: #eee;
}

a {
    color: #07a;
    font-size: 0.9em;
}

a:visited {
    color: #07a;
}

figcaption {
    color: #aaa;
    font-size: 0.9em;
}

img.center-image {
    display: block;
}

.figure-number {
    display: none;
}

.center-iframe {
    display: block;
}

.center-iframe iframe {
    border: 0;
}

#postamble {
    color: #aaa;
    font-size: 0.8em;
}

p {
    margin: 0.5em 2em;
}

/* Add this to remove extra space between consecutive links */
p + p {
    margin-top: 0.4em;
}

.other-section {
    margin: 10px 0;
}

.other-section span {
    cursor: pointer; /* Changes cursor to pointer on hover */
}

.other-section span:hover {
    text-decoration: underline; /* Optional: adds underline on hover for visual feedback */
}

#other-content {
    margin-top: 5px;
}
